@import "tailwindcss";
@import "@fontsource/vazir";

@layer base {
    * {
        font-family: "Vazir", sans-serif;
    }
}
html {
  direction: rtl; 
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

body {
  direction: rtl;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; 
}