@import "tailwindcss";
@import "@fontsource/vazir";

@layer base {
    * {
        font-family: "Vazir", sans-serif;
    }
}
html {
    direction: rtl; /* چون سایت راست‌چینه */
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  body {
    overflow-y: auto;
    direction: rtl;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }